src/template/rating.html

<h2 class="rating__title text--red text--light">Рейтинг</h2>
<label class="rating__sort-name text--black" for="rating__sort-select">по убыванию</label>
<input class="rating__sort-select" type="checkbox" name="rating__sort-descendingly" id="rating__sort-select"/>
<ul class="rating__list text--black">
  <li class="rating__item cat-breed"><span class="cat-breed__name">Абиссинская</span>
    <div class="cat-breed__meter">
      <meter min="0" max="12" low="6" high="8.5" optimum="10" value="9"></meter>
    </div>
    <div class="cat-breed__rating">9</div>
  </li>
  <li class="rating__item cat-breed"><span class="cat-breed__name">Британская</span>
    <div class="cat-breed__meter">
      <meter min="0" max="12" low="6" high="8.5" optimum="10" value="8"></meter>
    </div>
    <div class="cat-breed__rating">8</div>
  </li>
  <li class="rating__item cat-breed"><span class="cat-breed__name">Русская голубая</span>
    <div class="cat-breed__meter">
      <meter min="0" max="12" low="6" high="8.5" optimum="10" value="10"></meter>
    </div>
    <div class="cat-breed__rating">10</div>
  </li>
  <li class="rating__item cat-breed"><span class="cat-breed__name">Сиамская</span>
    <div class="cat-breed__meter">
      <meter min="0" max="12" low="6" high="8.5" optimum="10" value="4"></meter>
    </div>
    <div class="cat-breed__rating">4</div>
  </li>
</ul>

src/template/pug/rating.pug
h2.rating__title.text--red.text--light= MARKET.main__rating.rating__title
label.rating__sort-name.text--black(for="rating__sort-select")= MARKET.main__rating.rating__sort_name
input.rating__sort-select(type="checkbox" name="rating__sort-descendingly" id="rating__sort-select")

ul.rating__list.text--black
    each breed in MARKET.cat_breeds
        li.rating__item.cat-breed
                span.cat-breed__name= breed.name
                .cat-breed__meter
                    meter( min="0" max="12" low="6" high="8.5" optimum="10" value= breed.rating)
                .cat-breed__rating= breed.rating
